{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h3 class="mt-4 d-flex" style="color:#075e04">Visualiser les resultats</h3>
    <br>
        <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mt-4 d-flex">Voici les resultats pour le premier pharmacien</h5>
                <div class="card-body">
                  <table id="datatablesSimple">
                      <thead>
                          <tr>
                              <th>Lun8h_10h</th>
                              <th>Lun10h_12h</th>
                              <th>Lun14h_16h</th>
                              <th>Lun16h_18h</th>
                              <th>Mar8h_10h</th>
                              <th>Mar10h_12h</th>
                              <th>Mar14h_16h</th>
                              <th>Mar16h_18h</th>
                              <th>Mer8h_10h</th>
                              <th>Mer10h_12h</th>
                              <th>Mer14h_16h</th>
                              <th>Mer16h_18h</th>
                              <th>Jeu8h_10h</th>
                              <th>Jeu10h_12h</th>
                              <th>Jeu14h_16h</th>
                              <th>Jeu16h_18h</th>
                              <th>Ven8h_10h</th>
                              <th>Ven10h_12h</th>
                              <th>Ven14h_16h</th>
                              <th>Ven16h_18h</th>

                          </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Lun8h_10h</th>
                          <th>Lun10h_12h</th>
                          <th>Lun14h_16h</th>
                          <th>Lun16h_18h</th>
                          <th>Mar8h_10h</th>
                          <th>Mar10h_12h</th>
                          <th>Mar14h_16h</th>
                          <th>Mar16h_18h</th>
                          <th>Mer8h_10h</th>
                          <th>Mer10h_12h</th>
                          <th>Mer14h_16h</th>
                          <th>Mer16h_18h</th>
                          <th>Jeu8h_10h</th>
                          <th>Jeu10h_12h</th>
                          <th>Jeu14h_16h</th>
                          <th>Jeu16h_18h</th>
                          <th>Ven8h_10h</th>
                          <th>Ven10h_12h</th>
                          <th>Ven14h_16h</th>
                          <th>Ven16h_18h</th>
                      </tr>
                      </tfoot>
                      <tbody>
                        {% for i in range(nbcandidatt) %}
                        <tr>
                            <td>{{resultat[i][0]}}</td>
                            <td>{{resultat[i][1]}}</td>
                            <td>{{resultat[i][2]}}</td>
                            <td>{{resultat[i][3]}}</td>
                            <td>{{resultat[i][4]}}</td>
                            <td>{{resultat[i][5]}}</td>
                            <td>{{resultat[i][6]}}</td>
                            <td>{{resultat[i][7]}}</td>
                            <td>{{resultat[i][8]}}</td>
                            <td>{{resultat[i][9]}}</td>
                            <td>{{resultat[i][10]}}</td>
                            <td>{{resultat[i][11]}}</td>
                            <td>{{resultat[i][12]}}</td>
                            <td>{{resultat[i][13]}}</td>
                            <td>{{resultat[i][14]}}</td>
                            <td>{{resultat[i][15]}}</td>
                            <td>{{resultat[i][16]}}</td>
                            <td>{{resultat[i][17]}}</td>
                            <td>{{resultat[i][18]}}</td>
                            <td>{{resultat[i][19]}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
              </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mt-4 d-flex">Voici les resultats pour le deuxième pharmacien</h5>
                <div class="card-body">
                  <table id="datatablesSimple2">
                      <thead>
                          <tr>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                          </tr>
                      </thead>
                      <tfoot>
                        <tr>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                      </tr>
                      </tfoot>
                      <tbody>
                        {% for i in range(nbcandidatt) %}
                        <tr>
                            <td>{{resultat[i][20]}}</td>
                            <td>{{resultat[i][21]}}</td>
                            <td>{{resultat[i][22]}}</td>
                            <td>{{resultat[i][23]}}</td>
                            <td>{{resultat[i][24]}}</td>
                            <td>{{resultat[i][25]}}</td>
                            <td>{{resultat[i][26]}}</td>
                            <td>{{resultat[i][27]}}</td>
                            <td>{{resultat[i][28]}}</td>
                            <td>{{resultat[i][29]}}</td>
                            <td>{{resultat[i][30]}}</td>
                            <td>{{resultat[i][31]}}</td>
                            <td>{{resultat[i][32]}}</td>
                            <td>{{resultat[i][33]}}</td>
                            <td>{{resultat[i][34]}}</td>
                            <td>{{resultat[i][35]}}</td>
                            <td>{{resultat[i][36]}}</td>
                            <td>{{resultat[i][37]}}</td>
                            <td>{{resultat[i][38]}}</td>
                            <td>{{resultat[i][39]}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
              </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mt-4 d-flex">Voici les resultats pour le troisième pharmacien</h5>
                <div class="card-body">
                  <table id="datatablesSimple3">
                      <thead>
                          <tr>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                          </tr>
                      </thead>
                      <tfoot>
                        <tr>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                      </tr>
                      </tfoot>
                      <tbody>
                        {% for i in range(nbcandidatt) %}
                        <tr>
                            <td>{{resultat[i][40]}}</td>
                            <td>{{resultat[i][41]}}</td>
                            <td>{{resultat[i][42]}}</td>
                            <td>{{resultat[i][43]}}</td>
                            <td>{{resultat[i][44]}}</td>
                            <td>{{resultat[i][45]}}</td>
                            <td>{{resultat[i][46]}}</td>
                            <td>{{resultat[i][47]}}</td>
                            <td>{{resultat[i][48]}}</td>
                            <td>{{resultat[i][49]}}</td>
                            <td>{{resultat[i][50]}}</td>
                            <td>{{resultat[i][51]}}</td>
                            <td>{{resultat[i][52]}}</td>
                            <td>{{resultat[i][53]}}</td>
                            <td>{{resultat[i][54]}}</td>
                            <td>{{resultat[i][55]}}</td>
                            <td>{{resultat[i][56]}}</td>
                            <td>{{resultat[i][57]}}</td>
                            <td>{{resultat[i][58]}}</td>
                            <td>{{resultat[i][59]}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
              </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mt-4 d-flex">Voici la matrice c</h5>
                <div class="card-body">
                  <table id="datatablesSimple4">
                      <thead>
                          <tr>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                          </tr>
                      </thead>
                      <tfoot>
                        <tr>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                      </tr>
                      </tfoot>
                      <tbody>
                        {% for i in range(nbcandidatt) %}
                        <tr>
                            <td>{{c[i][0]}}</td>
                            <td>{{c[i][1]}}</td>
                            <td>{{c[i][2]}}</td>
                            <td>{{c[i][3]}}</td>
                            <td>{{c[i][4]}}</td>
                            <td>{{c[i][5]}}</td>
                            <td>{{c[i][6]}}</td>
                            <td>{{c[i][7]}}</td>
                            <td>{{c[i][8]}}</td>
                            <td>{{c[i][9]}}</td>
                            <td>{{c[i][10]}}</td>
                            <td>{{c[i][11]}}</td>
                            <td>{{c[i][12]}}</td>
                            <td>{{c[i][13]}}</td>
                            <td>{{c[i][14]}}</td>
                            <td>{{c[i][15]}}</td>
                            <td>{{c[i][16]}}</td>
                            <td>{{c[i][17]}}</td>
                            <td>{{c[i][18]}}</td>
                            <td>{{c[i][19]}}</td>
                        </tr>
                      {% endfor %}
                      </tbody>
                  </table>
              </div>
              </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mt-4 d-flex">Voici la matrice mo</h5>
                <div class="card-body">
                  <table id="datatablesSimple5">
                      <thead>
                          <tr>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                          </tr>
                      </thead>
                      <tfoot>
                        <tr>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                      </tr>
                      </tfoot>
                      <tbody>
                        <tr>
                            <td>{{mo[0]}}</td>
                            <td>{{mo[1]}}</td>
                            <td>{{mo[2]}}</td>
                            <td>{{mo[3]}}</td>
                            <td>{{mo[4]}}</td>
                            <td>{{mo[5]}}</td>
                            <td>{{mo[6]}}</td>
                            <td>{{mo[7]}}</td>
                            <td>{{mo[8]}}</td>
                            <td>{{mo[9]}}</td>
                            <td>{{mo[10]}}</td>
                            <td>{{mo[11]}}</td>
                            <td>{{mo[12]}}</td>
                            <td>{{mo[13]}}</td>
                            <td>{{mo[14]}}</td>
                            <td>{{mo[15]}}</td>
                            <td>{{mo[16]}}</td>
                            <td>{{mo[17]}}</td>
                            <td>{{mo[18]}}</td>
                            <td>{{mo[19]}}</td>
                            <td>{{mo[20]}}</td>
                            <td>{{mo[21]}}</td>
                            <td>{{mo[22]}}</td>
                            <td>{{mo[23]}}</td>
                            <td>{{mo[24]}}</td>
                            <td>{{mo[25]}}</td>
                            <td>{{mo[26]}}</td>
                            <td>{{mo[27]}}</td>
                            <td>{{mo[28]}}</td>
                            <td>{{mo[29]}}</td>
                            <td>{{mo[30]}}</td>
                            <td>{{mo[31]}}</td>
                            <td>{{mo[32]}}</td>
                            <td>{{mo[33]}}</td>
                            <td>{{mo[34]}}</td>
                            <td>{{mo[35]}}</td>
                            <td>{{mo[36]}}</td>
                            <td>{{mo[37]}}</td>
                            <td>{{mo[38]}}</td>
                            <td>{{mo[39]}}</td>
                            <td>{{mo[40]}}</td>
                            <td>{{mo[41]}}</td>
                            <td>{{mo[42]}}</td>
                            <td>{{mo[43]}}</td>
                            <td>{{mo[44]}}</td>
                            <td>{{mo[45]}}</td>
                            <td>{{mo[46]}}</td>
                            <td>{{mo[47]}}</td>
                            <td>{{mo[48]}}</td>
                            <td>{{mo[49]}}</td>
                            <td>{{mo[50]}}</td>
                            <td>{{mo[51]}}</td>
                            <td>{{mo[52]}}</td>
                            <td>{{mo[53]}}</td>
                            <td>{{mo[54]}}</td>
                            <td>{{mo[55]}}</td>
                            <td>{{mo[56]}}</td>
                            <td>{{mo[57]}}</td>
                            <td>{{mo[58]}}</td>
                            <td>{{mo[59]}}</td>
                        </tr>
                      </tbody>
                  </table>
              </div>
              </div>
            </div>
        </div>
    {% endblock %}
    