{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <!DOCTYPE html>
    <h3 class="mt-4 d-flex" style="color:#075e04">Formulaire d'ajout d'un candidat à la base de données</h1>
        <form method="POST">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Nom du candidat</label>
              <input type="name" class="form-control" id="name" name="name" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Prénom du candidat</label>
              <input type="name" class="form-control" id="prenom" name="prenom" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
              <label for="exampleInputAdress" class="form-label">Adresse de domicile</label>
              <input type="adress" class="form-control" id="adress" name="adress" aria-describedby="adress">
            </div>
            <label for="exampleInputPassword1" class="form-label">Créneaux (Sélectionnez les créneaux auxquels vous êtes disponibles)</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" onclick="if (this.checked) this.value=1; else this.value=0;" id="flexCheckDefault1" name="flexCheckDefault1">
                <label class="form-check-label" for="flexCheckDefault1">
                  Lundi Matin
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" onclick="if (this.checked) this.value=1; else this.value=0;" id="flexCheckChecked2" name="flexCheckDefault2">
                <label class="form-check-label" for="flexCheckChecked2">
                  Lundi Aprem
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" onclick="if (this.checked) this.value=1; else this.value=0;" id="flexCheckDefault3" name="flexCheckDefault3">
                <label class="form-check-label" for="flexCheckDefault3">
                  Mardi Matin
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" onclick="if (this.checked) this.value=1; else this.value=0;" id="flexCheckChecked4" name="flexCheckDefault4">
                <label class="form-check-label" for="flexCheckChecked4">
                  Mardi Aprem
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" onclick="if (this.checked) this.value=1; else this.value=0;" id="flexCheckDefault5" name="flexCheckDefault5">
                <label class="form-check-label" for="flexCheckDefault5">
                  Mercredi Matin
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" onclick="if (this.checked) this.value=1; else this.value=0;" id="flexCheckChecked6" name="flexCheckDefault6">
                <label class="form-check-label" for="flexCheckChecked6">
                  Mercredi Aprem
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" onclick="if (this.checked) this.value=1; else this.value=0;" id="flexCheckDefault7" name="flexCheckDefault7">
                <label class="form-check-label" for="flexCheckDefault7">
                  Jeudi Matin
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" onclick="if (this.checked) this.value=1; else this.value=0;" id="flexCheckChecked8" name="flexCheckDefault8">
                <label class="form-check-label" for="flexCheckChecked8">
                  Jeudi Aprem
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" onclick="if (this.checked) this.value=1; else this.value=0;" id="flexCheckDefault9" name="flexCheckDefault9">
                <label class="form-check-label" for="flexCheckDefault9">
                  Vendredi Matin
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" onclick="if (this.checked) this.value=1; else this.value=0;" id="flexCheckChecked10" name="flexCheckDefault10">
                <label class="form-check-label" for="flexCheckChecked10">
                  Vendredi Aprem
                </label>
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    {% endblock %}
    