{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 class="mt-4 d-flex justify-content-center">BlablaPharm, trouves les pharmaciens les plus motivés de ta région</h1>
<img class="rounded mx-auto d-block" src="/static/assets/img/logopharma.png" height="150px" />
<center>
Bienvenue sur BlablaPharm, que vous soyez gérant de pharmacie ou bien en recherche d'emploi, cette application est faite pour vous.<br>
Description de l'appli + choix d'implémentation.
Cette page fait office de page d'accueil
</center>
<div class="row">

</div>
{% endblock %}
