{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <h3 class="mt-4 d-flex" style="color:#075e04">Visualiser les bases de données actuelles</h3>
    <br>
        <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mt-4 d-flex">Voici la BD actuelle des candidats</h5>
                <div class="card-body">
                  <table id="datatablesSimple">
                      <thead>
                          <tr>
                              <th>Nom</th>
                              <th>Prenom</th>
                              <th>Adresse</th>
                              <th>Telephone</th>
                              <th>Lun8h_10h</th>
                              <th>Lun10h_12h</th>
                              <th>Lun14h_16h</th>
                              <th>Lun16h_18h</th>
                              <th>Mar8h_10h</th>
                              <th>Mar10h_12h</th>
                              <th>Mar14h_16h</th>
                              <th>Mar16h_18h</th>
                              <th>Mer8h_10h</th>
                              <th>Mer10h_12h</th>
                              <th>Mer14h_16h</th>
                              <th>Mer16h_18h</th>
                              <th>Jeu8h_10h</th>
                              <th>Jeu10h_12h</th>
                              <th>Jeu14h_16h</th>
                              <th>Jeu16h_18h</th>
                              <th>Ven8h_10h</th>
                              <th>Ven10h_12h</th>
                              <th>Ven14h_16h</th>
                              <th>Ven16h_18h</th>
                              <th>Competences</th>

                          </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>Nom</th>
                          <th>Prenom</th>
                          <th>Adresse</th>
                          <th>Telephone</th>
                          <th>Lun8h_10h</th>
                          <th>Lun10h_12h</th>
                          <th>Lun14h_16h</th>
                          <th>Lun16h_18h</th>
                          <th>Mar8h_10h</th>
                          <th>Mar10h_12h</th>
                          <th>Mar14h_16h</th>
                          <th>Mar16h_18h</th>
                          <th>Mer8h_10h</th>
                          <th>Mer10h_12h</th>
                          <th>Mer14h_16h</th>
                          <th>Mer16h_18h</th>
                          <th>Jeu8h_10h</th>
                          <th>Jeu10h_12h</th>
                          <th>Jeu14h_16h</th>
                          <th>Jeu16h_18h</th>
                          <th>Ven8h_10h</th>
                          <th>Ven10h_12h</th>
                          <th>Ven14h_16h</th>
                          <th>Ven16h_18h</th>
                          <th>Competences</th>
                      </tr>
                      </tfoot>
                      <tbody>
                          {% for e in elem %}
                          <tr>
                              <td>{{e[0]}}</td>
                              <td>{{e[1]}}</td>
                              <td>{{e[2]}}</td>
                              <td>{{e[3]}}</td>
                              <td>{{e[4]}}</td>
                              <td>{{e[5]}}</td>
                              <td>{{e[6]}}</td>
                              <td>{{e[7]}}</td>
                              <td>{{e[8]}}</td>
                              <td>{{e[9]}}</td>
                              <td>{{e[10]}}</td>
                              <td>{{e[11]}}</td>
                              <td>{{e[12]}}</td>
                              <td>{{e[13]}}</td>
                              <td>{{e[14]}}</td>
                              <td>{{e[15]}}</td>
                              <td>{{e[16]}}</td>
                              <td>{{e[17]}}</td>
                              <td>{{e[18]}}</td>
                              <td>{{e[19]}}</td>
                              <td>{{e[20]}}</td>
                              <td>{{e[21]}}</td>
                              <td>{{e[22]}}</td>
                              <td>{{e[23]}}</td>
                              <td>{{e[24]}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-items-start">
              <div class="col">
                <h5 class="mt-4 d-flex">Voici la BD actuelle des pharmacies</h5>
                <div class="card-body">
                  <table id="datatablesSimple2">
                      <thead>
                          <tr>
                            <th>Nom</th>
                            <th>Adresse</th>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                            <th>Competences</th>
                            <th>Description_poste</th>
                          </tr>
                      </thead>
                      <tfoot>
                        <tr>
                            <th>Nom</th>
                            <th>Adresse</th>
                            <th>Lun8h_10h</th>
                            <th>Lun10h_12h</th>
                            <th>Lun14h_16h</th>
                            <th>Lun16h_18h</th>
                            <th>Mar8h_10h</th>
                            <th>Mar10h_12h</th>
                            <th>Mar14h_16h</th>
                            <th>Mar16h_18h</th>
                            <th>Mer8h_10h</th>
                            <th>Mer10h_12h</th>
                            <th>Mer14h_16h</th>
                            <th>Mer16h_18h</th>
                            <th>Jeu8h_10h</th>
                            <th>Jeu10h_12h</th>
                            <th>Jeu14h_16h</th>
                            <th>Jeu16h_18h</th>
                            <th>Ven8h_10h</th>
                            <th>Ven10h_12h</th>
                            <th>Ven14h_16h</th>
                            <th>Ven16h_18h</th>
                            <th>Competences</th>
                            <th>Description_poste</th>
                      </tr>
                      </tfoot>
                      <tbody>
                          {% for e in element %}
                          <tr>
                              <td>{{e[0]}}</td>
                              <td>{{e[1]}}</td>
                              <td>{{e[2]}}</td>
                              <td>{{e[3]}}</td>
                              <td>{{e[4]}}</td>
                              <td>{{e[5]}}</td>
                              <td>{{e[6]}}</td>
                              <td>{{e[7]}}</td>
                              <td>{{e[8]}}</td>
                              <td>{{e[9]}}</td>
                              <td>{{e[10]}}</td>
                              <td>{{e[11]}}</td>
                              <td>{{e[12]}}</td>
                              <td>{{e[13]}}</td>
                              <td>{{e[14]}}</td>
                              <td>{{e[15]}}</td>
                              <td>{{e[16]}}</td>
                              <td>{{e[17]}}</td>
                              <td>{{e[18]}}</td>
                              <td>{{e[19]}}</td>
                              <td>{{e[20]}}</td>
                              <td>{{e[21]}}</td>
                              <td>{{e[22]}}</td>
                              <td>{{e[23]}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
              </div>
              </div>
            </div>
        </div>
    {% endblock %}
    